step-functions.json
{
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.choice",
          "StringEquals": "demand",
          "Next": "Demand"
        },
        {
          "Variable": "$.choice",
          "StringEquals": "orchestrator",
          "Next": "Parallel"
        },
        {
          "Variable": "$.choice",
          "StringEquals": "test",
          "Next": "test"
        }
      ],
      "Default": "Network Preparation"
    },
    "Network Preparation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "notebook_path": "notebooks/2_model/B10_network_preparation.ipynb",
          "scenario_path_S3.$": "$.scenario_path_S3",
          "launcher_arg.$": "$.launcher_arg",
          "metadata.$": "$.metadata"
        },
        "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Next": "Pathfinder"
    },
    "Pathfinder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "notebook_path": "notebooks/2_model/C10_pathfinder.ipynb",
          "scenario_path_S3.$": "$.scenario_path_S3",
          "launcher_arg.$": "$.launcher_arg",
          "metadata.$": "$.metadata"
        },
        "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "Demand": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "notebook_path": "notebooks/2_model/D10_demand_model.ipynb",
          "scenario_path_S3.$": "$.scenario_path_S3",
          "launcher_arg.$": "$.launcher_arg",
          "metadata.$": "$.metadata"
        },
        "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Network Preparation (am)",
          "States": {
            "Network Preparation (am)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/B10_network_preparation.ipynb",
                  "scenario_path_S3": "am/",
                  "output_path_S3.$": "$.scenario_path_S3",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "am"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "Next": "Pathfinder (am)"
            },
            "Pathfinder (am)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/C10_pathfinder.ipynb",
                  "scenario_path_S3": "am/",
                  "output_path_S3.$": "$.output_path_S3",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "am"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Network Preparation (pm)",
          "States": {
            "Network Preparation (pm)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/B10_network_preparation.ipynb",
                  "scenario_path_S3": "pm/",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "pm"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "Next": "Pathfinder (pm)"
            },
            "Pathfinder (pm)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/C10_pathfinder.ipynb",
                  "scenario_path_S3": "pm/",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "pm"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Network Preparation (ip)",
          "States": {
            "Network Preparation (ip)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/B10_network_preparation.ipynb",
                  "scenario_path_S3": "ip/",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "ip"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "Next": "Pathfinder (ip)"
            },
            "Pathfinder (ip)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/C10_pathfinder.ipynb",
                  "scenario_path_S3": "ip/",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "ip"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Network Preparation (op)",
          "States": {
            "Network Preparation (op)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/B10_network_preparation.ipynb",
                  "scenario_path_S3": "op/",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "op"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "Next": "Pathfinder (op)"
            },
            "Pathfinder (op)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload": {
                  "notebook_path": "notebooks/2_model/C10_pathfinder.ipynb",
                  "scenario_path_S3": "op/",
                  "launcher_arg": {
                    "training_folder": "/tmp",
                    "params": {
                      "general": {
                        "period": "op"
                      }
                    }
                  },
                  "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "Lambda.AWSLambdaException"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 4,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Next": "Demand (all)"
    },
    "Demand (all)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "notebook_path": "notebooks/2_model/D10_demand_model.ipynb",
          "scenario_path_S3.$": "$[0].output_path_S3",
          "launcher_arg": {
            "training_folder": "/tmp",
            "params": {
              "general": {
                "periods": [
                  "am",
                  "pm",
                  "ip",
                  "op"
                ]
              }
            }
          },
          "metadata.$": "$[0].metadata"
        },
        "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Next": "Results (all)"
    },
    "Results (all)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "notebook_path": "notebooks/2_model/E01_Results.ipynb",
          "scenario_path_S3.$": "$.scenario_path_S3",
          "launcher_arg": {
            "training_folder": "/tmp",
            "params": {
              "general": {
                "periods": [
                  "am",
                  "pm",
                  "ip",
                  "op"
                ]
              }
            }
          },
          "metadata.$": "$.metadata"
        },
        "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Next": "Export to Immense"
    },
    "Export to Immense": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "notebook_path": "notebooks/2_model/E02_Export.ipynb",
          "scenario_path_S3.$": "$.scenario_path_S3",
          "launcher_arg": {
            "training_folder": "/tmp",
            "params": {
              "general": {
                "scenario_path_S3.$": "$.scenario_path_S3"
              }
            }
          },
          "metadata.$": "$.metadata"
        },
        "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "test": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "notebook_path": "notebooks/2_model/test.ipynb",
          "scenario_path_S3.$": "$.scenario_path_S3",
          "launcher_arg": {
            "training_folder": "/tmp",
            "params": {
              "general": {
                "period": "test"
              }
            }
          },
          "metadata.$": "$.metadata"
        },
        "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-immense:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "Lambda.AWSLambdaException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  },
  "Comment": "Quetzal Transit model"
}